<div class="col-sm-offset-2 col-sm-8 u-margin-Ts">
  <div class="col-sm-6 pull-right u-padding-Rn">
    <%= form_tag (admin ? admin_articles_path : articles_path),
                  method: :get, class: "navbar-form pull-right u-padding-Rn" do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q],
                            class: "form-control",
                            placeholder: "Search for articles..." %>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", name: nil, class: "btn btn-default") do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="articles col-sm-offset-2 col-sm-8">
  <% if flash[:success_message] %>
    <div class="alert alert-success">
      <%= flash[:success_message] %>
    </div>
  <% elsif flash[:error_message] %>
    <div class="alert alert-danger">
      <%= flash[:error_message] %>
    </div>
  <% end %>

  <% if articles.each do |article| %>
    <div class="article">
      <% if admin %>
        <div class="options">
          <%= link_to "Edit", edit_admin_article_path(article),
              class: "edit-link" %>
          <%= link_to "Delete", admin_article_path(article), method: :delete,
              class: "delete-link" %>
        </div>
      <% end %>

      <%= link_to article.title, article_path(article), class: "title" %>
      <div class="content">
        <% article.preview_paragraphs[0...-1].each do |paragraph| %>
          <p><%= paragraph %></p>
        <% end %>

        <p><%= article.preview_paragraphs.last +
                (article.truncate ? "..." : "") %></p>
      </div>

      <% if article.truncate %>
        <%= link_to "Read more.", article_path(article) %>
      <% end %>

      <div class="info">
        <%= article.number_of_views %> <i class="fa fa-eye"></i>
      </div>
    </div>
  <% end.empty? %>
    <div class="notice">
      <p>There are no articles available.</p>
    </div>
  <% end %>
</div>
