<div class="article article-single col-sm-offset-2 col-sm-8">
  <% if @article.present? %>
    <%= link_to @article.title, article_path(@article), class: "title" %>
    <div class="content">
      <% @article.paragraphs.each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
    </div>
  <% else %>
    <h4 class="text-danger">Article not found.</h4>
  <% end %>
</div>

<% if @article.present? %>
  <div class="comments-wrapper shadow-box col-sm-offset-2 col-sm-8">
    <div class="header">
      <p>Comments</p>
    </div>

    <div class="form-wrapper">
      <label class="header">Write a comment:</label>
      <%= form_for @new_comment, url: { action: :create, controller: :comments },
                                 html: { class: "form" } do |form| %>
        <%= form.text_field :name, class: "form-control", placeholder: "Your name" %>
        <%= form.text_area :content, class: "form-control", rows: "5", placeholder: "Your comment" %>
        <%= form.hidden_field :article_id, value: @article.id %>
        <%= form.submit "Submit", class: "btn btn-default" %>
      <% end %>
    </div>

    <div class="comments">
      <% if @article.comments.order(created_at: :desc).each do |comment| %>
        <div class="comment">
          <p class="title"><%= comment.name %></p>
          <p class="content"><%= comment.content %></p>
        </div>
      <% end.empty? %>
        <p class="lead u-margin-Lxl">There are no comments.</p>
      <% end %>
    </div>
  </div>
<% end %>
