<!DOCTYPE html>
<html>
<head>
  <title>Blog Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header>
    <div class="logo pull-left">
      <%= link_to "Blog Rails", articles_path %>
    </div>
    <nav class="pull-left">
      <div class="menu-item pull-left">
        <%= link_to "Home", articles_path %>
      </div>
      <div class="menu-item pull-left">
        <%= link_to "New Article", new_admin_article_path %>
      </div>
      <div class="menu-item pull-left">
        <%= link_to "Manage Articles", admin_articles_path %>
      </div>
    </nav>
    <div class="clearfix"></div>
  </header>

  <main class="row">
    <%= yield %>
  </main>
  </div>
</body>
</html>
